@model Category
@{
    ViewData["Title"] = "Delete Category";
}

<h1>Delete Category</h1>

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Name">Name</label>
        </div>
        <div class="col-8">
            <input asp-for="Name" disabled class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label asp-for="DisplayOrder">Display Order</label>
        </div>
        <div class="col-8">
            <input asp-for="DisplayOrder" disabled class="form-control"/>
        </div>
    </div>
    <br/>
    <div class="form-group row">
        <div class="col">
            <input type="submit" class="btn btn-danger w-100" value="Delete  "/>
        </div>
        <div class="col">
            <a asp-action="Index" class="btn btn-success w-100">Back</a>
        </div>
    </div>
</form>

@section Scripts{
    @{<partial name="_validationScriptsPartial"/>}
}
